.add_product_container {
    padding: 5rem;
    
    @media screen and (width <= 1000px) {
        padding: 3rem;
    }
    
    @media screen and (width <= 700px) {
        padding: 2rem 1rem;
    }
}

.welcoming {
    margin-bottom: 2rem;
    font-size: var(--heading);
}

.add_product_title {
    display: flex;
    align-items: center;
    gap: .75rem;
    
    width: max-content;
    font-size:var(--medium__size);
    padding: .5rem;
    color: var(--blue__clr);
    position: relative;
    
    &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: -1;

        height: 40px;
        width: 100%;
        background: linear-gradient(
            to right,
            transparent,
            var(--gray__clr__soft) 70%,
        );
        border-radius: calc(2 * var(--border__radius));
        border: 1px solid currentColor;
        opacity: .5;
    }
}

.add_product_form {
    margin-top: .75rem;

    display: flex;
    flex-direction: column;
    gap: .75rem;

    input, textarea {
        padding: .5rem;
        border: 1px solid transparent;
        outline: none;
        background: var(--gray__clr__trs);
        resize: none;
        border-radius: var(--border__radius);
        
        font-size: var(--main__size);
        color: var(--white__clr__soft);
        
        &::placeholder {
            color: var(--white__clr__soft);
        }

        &:is(:focus, :not(:placeholder-shown)) {
            color: var(--blue__clr);

            &:focus {
                border: 1px solid currentColor;
            }

            &::placeholder {
                color: currentColor;
            }
        }
    }
}

.button {
    margin-top: calc(2rem - .75rem);

    @media screen and (width <= 500px) {
        width: 100% !important;
    }
}