.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    margin-top: auto;


    button {
        width: 100%;
        background: var(--blue__clr);
        border: 0;
        outline: none;
        cursor: pointer;
        font-size: var(--medium__size);
        color: var(--white__clr);
        height: 45px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        &:disabled {
            cursor: not-allowed;
            color: var(--black__clr);
            opacity: .8;
        }
    }

    label {
        padding: .5rem;
        border-radius: 20px;
        user-select: none;
    }
}