.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.navbar_logo {
    color: var(--white__clr);
    text-decoration: underline var(--blue__clr);

    h2 {
        &::first-letter {
            color: var(--blue__clr);
        }
    }
}